sklearn==0.0
scikit-learn==0.24.2
tensorboard==2.2.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
sentencepiece==0.1.96
torch==1.7.1
torchvision==0.8.2
pytorch-lightning==0.9.0

azure-common==1.1.27
azure-core==1.13.0
azure-graphrbac==0.61.1
azure-identity==1.4.1
azure-cli-core==2.27.2
azure-mgmt-authorization==0.61.0
azure-mgmt-containerregistry==2.8.0
azure-mgmt-keyvault==2.2.0
azure-mgmt-resource==12.1.0
azure-mgmt-storage==11.2.0
azureml==0.2.7
azureml-core==1.27.0
azureml-dataprep==2.14.2
azureml-dataprep-native==33.0.0
azureml-dataprep-rslex==1.12.1
azureml-dataset-runtime==1.27.0
